<!-- Place jQuery Library Script Link here -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Timeline -->
<script tpye="type/javascript" src="scripts/jquery.bxslider.min.js"></script>
<script tpye="type/javascript" src="scripts/flik-timeline-9.min.js"></script>

<!-- Maps -->
<script tpye="type/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<!-- Place Javascript Folder Link here -->
<script tpye="type/javascript" src="scripts/main.js"></script>
