<footer>

  <section class="nav-bot grid">
    <div class="social-bot col-6">
      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
    <div class="info-bot col-6">
      <!-- Replace image logo here -->
      <img src="/images/logo.png" class="logo">
      <!-- Place project manager contact information -->
      <h4>Project Manager</h4>
      <p>Occupation Title</p>
      <a href="" class="email">project.manager@jka.com</a>
    </div>
  </section>

</footer>
