<header>

  <section class="our-commitment">
    <div class="grid">
      <!-- Insert Commitment Testimonial here -->
      <div class="effect-ming">
        <img src"">
        <div class="text-background">
          <!-- Replace image logo here -->
          <figcaption class="right-align">
            <img src="/images/logo.png" class="logo">
          </figcaption>
          <div>
            <h1>Our Commitment To You:</h1>
          </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
  </div>
  </section>


  <div class="nav-top main-nav">
    <!-- Place navigation links here -->
    <nav>
      <a href="#leads">Leads</a>
      <a href="#description">Description</a>
      <a href="#timeline">Schedule</a>
      <a href="#budget">Budget</a>
      <a href="#map">Location</a>
      <a href="#org-chart">Team</a>
      <a href="resume-template-01" target="_blank">Resume</a >
    </nav>
  </div>

</header>
